:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-black-color: #000000;
    --background-footer-color: #2F303A;

}

body {
    background-color: var(--primary-white-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

/* Лого */
a {
    list-style: none;
    text-decoration: none;
}

.list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

/* Container */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.logo-link {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover,
.logo-link:focus,
.logo-header:hover,
.logo-header:focus {
    color: var(--accent-color);
}

.logo-header {
    color: var(--primary-black-color);
}

.header-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

/* Site-nav */
.site-nav {
    margin-left: 93px;
    gap: 50px;
}



.link.current::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -3px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    z-index: 1;
}



.site-nav .link {
    position: relative;
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);

}

/* Main */
.features {
    display: flex;
}

.features-section {
    padding-bottom: 0;
}


.features .item:not(:last-child) {

    margin-right: 30px;
}

.section .section-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.features .title {
    color: #212121;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}

.features-section .item {
    width: 270px;
}

.features .text {

    color: #757575;
    font-size: 14px;
    line-height: 1.7;
}

/* Модалка */
.modal {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
    display: flex;
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    justify-content: end;
    align-items: flex-start;
    border-radius: 4px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

}
.icon-close{
    cursor: pointer;
}
.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    margin-top: 8px;
    margin-right: 8px;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: 0;
}

/* Address */
.contact {
    display: flex;
    margin-left: auto;
}

.contact .item:not(:last-child) {
    margin-right: 50px;
}

.contact .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: #757575;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color);
    text-decoration: none;
}

.icon-tel,
.icon-mail {
    fill: currentColor;
    margin-right: 10px;

}


.icon {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail:hover,
.icon-mail:focus {
    color: #2196F3;
}

/* Hero */
.hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/border.img.jpg);
    padding: 200px 0;
    display: block;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* Button-1 */
.button-order {
    border-radius: 4px;
    padding: 10px 32px;
    margin: auto;
    display: inline-block;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    min-width: 216px;
    min-height: 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    border: 1px solid transparent;
}

/* Section */
.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.img {
    display: block;
}

.section .section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

}

.feature-list .text {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.pages {
    width: 270px;
    height: 120px;
    padding: 25px 101px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
    justify-content: center;
}



/* Примітка */

.work {
    display: flex;
    justify-content: center;
}


.work .item:not(:last-child) {
    margin-right: 30px;
}

/* Info team*/
.section-team {
    background-color: #F5F4FA;
}



.team {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team-social-link {
    fill: currentColor;
}

.title-team {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.description-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.description {
    color: #757575;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

}

.team-people {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.img-about {
    display: block;
}

.item {
    position: relative;
}

.about-text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px;
    width: 100%;
}

/* Постійні клієнти */

.customers-list {
    display: flex;
    gap: 30px;
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;

}

.customers-link:hover,
.customers-link:focus {
    fill: var(--accent-color);
    border: 1px solid #2196F3;
}

.team {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.team-background {
    background-color: #F5F4FA;
}

.team .item:not(:last-child) {
    margin-right: 30px;
}

.team .item {
    background-color: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}


.team .image {
    margin-bottom: 30px;
}

.team .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
    text-align: center;
}

.desc-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
}

.desc {
    color: #757575;
    font-weight: 400;
    padding-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
}


.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.socials {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

/* socials footer */
.team-social-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272a35;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-footer:hover,
.team-social-footer:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}


/* Footer */


.footer {
    background-color: #2F303A;
    padding: 60px 0;
}

.footer-social-link {
    fill: currentColor;
}

.footer .container {
    display: flex;
}

.footer .logo {
    font-family: 'Raleway';
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 20px;
}

.footer .logo-part {
    color: #ffffff;
    text-decoration: none;
}

.addres-link {
    color: #ffffff;
    display: block;
    margin-bottom: 9px;

    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.7;

}

.addres-link:hover,
.addres-link:focus {
    color: var(--accent-color);
    font-style: normal;
}


.contact-footer .link {
    color: #FFFFFF99;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;

}

.contact-footer .item:not(:last-child) {
    margin-bottom: 9px;
}


.contact-footer .link.link:hover,
.contact-footer .link.link:focus {
    color: var(--accent-color);
    font-style: normal;
}

.footer-social-link {
    color: #FFFFFF;
}

.social {
    margin-left: 70px;
}

.social-title {
    margin-bottom: 20px;
    color: #FFFFFF;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}

/* Portfolio */
.button {
    border: transparent;

    color: #212121;
    background-color: #F5F4FA;
    cursor: pointer;
    padding: 6px 22px;
    border: transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button:hover,
.button:focus {
    border: transparent;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #2196F3;
}

.portfolio {
    display: block;
}

.signature {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}


.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
    gap: 8px;
}

.opacity {
    display: block;
    position: relative;
    overflow: hidden;
}

.opacity-text {
    overflow: auto;
    position: absolute;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.opacity:hover .opacity-text,
.opacity:focus .opacity-text {
    transform: translateX(0%);
}

.button {
    border: transparent;

    color: #212121;
    background-color: #F5F4FA;
    cursor: pointer;
    padding: 6px 22px;
    border: transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: transparent;
    color: #FFFFFF;
    background-color: #2196F3;
}

/* Портфоліо */
.container-prtf {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    padding-left: 15px;
    padding-right: 15px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    box-sizing: border-box;
    justify-content: center;

}



.portfolio .title {
    color: var(--title-text-color);
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 4px;

}

.portfolio .text {
    color: #757575;
    font-size: 16px;
    line-height: 1.8;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.portfolio:not(:nth-child(3n + 3)) {
    margin-right: 30px;
}

.portfolio:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.portfolio .list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item-port {
    background: #FFFFFF;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-port:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.signature {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

 
 